{% extends "./base.html" %}
{% load static %}

{% block contenido %}
<div>
    <section id="highlights" class="py-5 container">
        <hr>
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        <h2 class="text-center">¡Bienvenido a Arriendo Chile!</h2>
        <hr>
    </section>
    <section class="pt-2">
        <p class="text-justify fs-5">

            Descubre el lugar perfecto para ti en nuestra plataforma dedicada a la publicación y búsqueda de propiedades
            en arriendo en todo Chile. Ya sea que estés buscando una acogedora casa, una amplia parcela o un moderno
            departamento, aquí encontrarás una amplia variedad de opciones que se ajustan a tus necesidades y
            presupuesto.
        </p>
    </section>
    <section>
        <div class=" row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="feature col">
                <div class="feature-icon fs-1 mb-3 text-center icon-color">
                    <i class="fa-solid fa-house"></i>
                </div>
                <h5 class=" text-body-emphasis text-center">¿Tienes una propiedad para arriendo? </h5>
                <p class="text-center">Publica tu anuncio de manera rápida y sencilla para llegar a
                    una
                    amplia audiencia de posibles arrendatarios. </p>
            </div>
            <div class="feature col">
                <div class="feature-icon fs-1 mb-3 text-center icon-color">
                    <i class="fa-solid fa-mountain-sun "></i>
                </div>
                <h5 class=" text-body-emphasis text-center">¿Buscas tu próximo hogar?</h5>
                <p class="text-center">Explora nuestro catálogo de propiedades en arriendo con filtros
                    por región y comuna
                    para encontrar exactamente lo que estás buscando.</p>
            </div>
            <div class="feature col">
                <div class="feature-icon fs-1 mb-3 text-center icon-color">
                    <i class="fa-solid fa-address-book"></i>
                </div>
                <h5 class=" text-body-emphasis text-center">Fácil, simple y seguro</h5>
                <p class="text-center">Gestiona tus ofertas y solicitudes con facilidad.</p>
            </div>
        </div>
    </section>
    <p class="text-center pt- fs-5"> <b>¡Únete a nosotros y haz de Arriendo Chile tu primer destino en la búsqueda
            y
            publicación de propiedades!</b></p>
</div>

{% endblock %}