<div>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">🏠</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="/">Home</a>
                    {% if user.is_authenticated %}
                    <a class="nav-link {% if request.path == '/profile' %}active{% endif %}" href="/profile">Perfil</a>
                    {% endif %}
                    {% if user.is_authenticated and user.user_type_id == 1 %}
                    <a class="nav-link {% if request.path == '/publication' %}active{% endif %}"
                        href="/publication">Agregar propiedad</a>
                    <a class="nav-link {% if request.path == '/my-properties' %}active{% endif %}"
                        href="/my-properties">Mis propiedades</a>
                    {% endif %}
                    {% if user.is_authenticated and user.user_type_id == 2 %}
                    <a class="nav-link {% if request.path == '/properties' %}active{% endif %}" href="/properties">Ver
                        propiedades</a>
                    {% endif %}
                </div>
                <div class="navbar-nav ms-auto">
                    <div class="navbar-nav ms-auto">
                        {% if user.is_authenticated %}
                        <form id="logout-form" action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-auth ms-2">Logout</button>
                        </form>
                        {% else %}
                        <a class="btn btn-auth {% if request.path == '/login' %}active{% endif %}"
                            href="/accounts/login">Login</a>
                        <a class="btn btn-auth ms-2 {% if request.path == '/login' %}active{% endif %}"
                            href="/signup">Register</a>
                        {% endif %}
                    </div>

                </div>

            </div>
        </div>
    </nav>
</div>